---
# scss
---
body {
  font-family: system, -apple-system, Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  background-color: #7f1734;
  color: #FFF;
}

.content {
  flex: 1;
  max-width: 56rem;
  margin: 0 auto;
  padding: 1em;
}

footer {
  text-align: center;
  font-size: .8em;
}

ul {
  padding: 0 1em;
}

li {
  list-style-type: none;
}

form {
  display: flex;
  align-items: center;
}

input {
  font-size: inherit;
}

input[type=text] {
  flex-grow: 1;
}
